<header class="app-header">
  <div class="header-left">
    <a [routerLink]="isLoggedIn ? '/book' : '/'" class="logo-link">
      <span class="logo-icon">✓</span>
      <h1>tick8</h1>
    </a>
  </div>
  <div class="header-right">
    <!-- Logged in state -->
    <ng-container *ngIf="isLoggedIn && user">
      <div class="user-info">
        <img *ngIf="user.picture" [src]="user.picture" [alt]="user.name" class="user-avatar"
          referrerpolicy="no-referrer">
        <span class="user-name">{{ user.name }}</span>
      </div>
      <button class="logout-btn" (click)="logout()">
        <span class="logout-icon">↪</span>
        Logout
      </button>
    </ng-container>

    <!-- Logged out state -->
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login" class="login-link">
        Sign In
      </a>
    </ng-container>
  </div>
</header>