<nav [class.collapsed]="mode === 'collapsed'" [class.mobile-hidden]="mode === 'mobile-hidden'" class="sidebar">
    <ul>
        <li *ngIf="mode !== 'mobile-hidden'">
            <button (click)="onToggleClick()">
                <span class="icon">☰</span>
                <span class="label" *ngIf="mode === 'expanded'">Toggle</span>
            </button>
        </li>
        <li>
            <button routerLink="/manage-courses" (click)="onNavigate()">
                <span class="icon">⚙️</span>
                <span class="label" *ngIf="mode === 'expanded'">Manage</span>
            </button>
        </li>
        <li>
            <button routerLink="/snapshots" (click)="onNavigate()">
                <span class="icon">📸</span>
                <span class="label" *ngIf="mode === 'expanded'">Snapshots</span>
            </button>
        </li>
        <li *ngIf="isAdmin">
            <button routerLink="/logs" (click)="onNavigate()" class="admin-menu-item">
                <span class="icon">📊</span>
                <span class="label" *ngIf="mode === 'expanded'">System Logs</span>
            </button>
        </li>
        <li *ngFor="let course of sortedCourses;">
            <button (click)="setCourse(course.id)">
                <span class="label" *ngIf="mode === 'expanded'">{{course.name}}</span>
            </button>
        </li>
    </ul>
</nav>