:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-main {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  background: #f9f9f9;
}
